In [1]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [3]:
filename = '/content/gdrive/MyDrive/학교/학교 수업/3-1/데이터시각화/data/memberInfo.csv'
df = pd.read_csv(filename, index_col='id')
df

     kor  eng
id
김철수   60   70
홍길동   70   75
박영희   80   80

In [4]:
print( '일반적인 산술 연산' )
df['kor'] + 5

일반적인 산술 연산

id
김철수    65
홍길동    75
박영희    85
Name: kor, dtype: int64

In [5]:
def plus5(x):
    return x + 5

In [6]:
print('apply 함수를 적용한 결과')
sq = df['kor'].apply(plus5) 
sq

apply 함수를 적용한 결과

id
김철수    65
홍길동    75
박영희    85
Name: kor, dtype: int64

In [7]:
def gob(x, n):
    return n * x

In [8]:
ex = df['kor'].apply(gob, n=3) 
ex

id
김철수    180
홍길동    210
박영희    240
Name: kor, dtype: int64

In [9]:
def applyByColumn(col):
    mysum = 0
    for item in col:
        mysum += item
    return mysum / df.shape[0]

In [10]:
df.apply(applyByColumn, axis = 0)

kor    70.0
eng    75.0
dtype: float64

In [11]:
def applyByRow(row):
    mysum = 0
    for item in row:
        mysum += item
    return mysum / df.shape[1]

In [12]:
df.apply(applyByRow, axis = 1)

id
김철수    65.0
홍길동    72.5
박영희    80.0
dtype: float64