In [1]:
import pandas as pd
import matplotlib.pyplot as plt

plt.rc('font', family = 'AppleGothic')

In [2]:
CHART_NAME = 'seabornTest'
cnt, PNG, UNDERBAR = 0, '.png', '_'

def FileSave():
    global cnt
    cnt += 1
    savefile = CHART_NAME + UNDERBAR + str(cnt).zfill(2) + PNG
    plt.savefig(savefile, dpi=400)
    print(savefile + ' 파일이 저장되었습니다.')
# end def FileSave():

In [3]:
filename = '/Users/seohuiwon/Desktop/School/2023/pythonpratice/DataVisualization/소상공인시장진흥공단_상가(상권)정보_서울_202212.csv'
plt.style.use('ggplot') # 'ggplot' 형식의 스타일을 사용합니다.
# plt.style.use('Solarize_Light2')

In [4]:
df = pd.read_csv(filename, encoding='UTF-8')

In [5]:
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,23324279,제중건강원,NaN,D,소매,D10,건강/미용식품,D10A07,건강원,G47216,...,1156010600100410002034626,NaN,서울특별시 영등포구 영중로14길 11-17,150035,7250.0,NaN,1,NaN,126.907168,37.520613
1,24525909,민속악기사,NaN,D,소매,D04,취미/오락관련소매,D04A09,악기판매,G47593,...,1120012200101420011000227,NaN,서울특별시 성동구 용답5길 2,133849,4803.0,NaN,NaN,NaN,127.049018,37.566857
2,24715368,태평양진주,NaN,D,소매,D26,시계/귀금속소매,D26A01,시계/귀금속,G47830,...,1111015200100440000000001,금사랑투빌딩,서울특별시 종로구 서순라길 17-10,110390,3138.0,NaN,NaN,NaN,126.993530,37.571848
3,15554136,김선희꼼꼼국어교습소,NaN,R,학문/교육,R01,학원-보습교습입시,R01A01,학원-입시,P85501,...,1171011100101970003017195,NaN,서울특별시 송파구 위례성대로12길 31,138834,5640.0,NaN,2,NaN,127.121520,37.510967
4,17174175,비지트,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1165010100108540018009586,상랑의빌딩,서울특별시 서초구 동광로18길 82,137837,6572.0,NaN,1,NaN,126.991394,37.488375

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377724 entries, 0 to 377723
Data columns (total 39 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     377724 non-null  int64
 1   상호명        377724 non-null  object
 2   지점명        63169 non-null   object
 3   상권업종대분류코드  377724 non-null  object
 4   상권업종대분류명   377724 non-null  object
 5   상권업종중분류코드  377724 non-null  object
 6   상권업종중분류명   377724 non-null  object
 7   상권업종소분류코드  377724 non-null  object
 8   상권업종소분류명   377724 non-null  object
 9   표준산업분류코드   351543 non-null  object
 10  표준산업분류명    351543 non-null  object
 11  시도코드       377724 non-null  int64
 12  시도명        377724 non-null  object
 13  시군구코드      377724 non-null  int64
 14  시군구명       377724 non-null  object
 15  행정동코드      377724 non-null  int64
 16  행정동명       377724 non-null  object
 17  법정동코드      377724 non-null  int64
 18  법정동명       377724 non-null  object
 19  지번코드       377724 non-null  int64
 20  대지구분코드     377724 non-null  int64
 21  대지구분명      377724 non-null  object
 22  지번본번지      377724 non-null  int64
 23  지번부번지      299122 non-null  float64
 24  지번주소       377724 non-null  object
 25  도로명코드      377724 non-null  int64
 26  도로명        377724 non-null  object
 27  건물본번지      377724 non-null  int64
 28  건물부번지      50597 non-null   float64
 29  건물관리번호     377724 non-null  object
 30  건물명        187667 non-null  object
 31  도로명주소      377724 non-null  object
 32  구우편번호      377724 non-null  int64
 33  신우편번호      377688 non-null  float64
 34  동정보        44057 non-null   object
 35  층정보        231453 non-null  object
 36  호정보        0 non-null       float64
 37  경도         377724 non-null  float64
 38  위도         377724 non-null  float64
dtypes: float64(6), int64(11), object(22)
memory usage: 112.4+ MB

In [7]:
df.describe()

,상가업소번호,시도코드,시군구코드,행정동코드,법정동코드,지번코드,대지구분코드,지번본번지,지번부번지,도로명코드,건물본번지,건물부번지,구우편번호,신우편번호,호정보,경도,위도
count,3.777240e+05,377724.0,377724.000000,3.777240e+05,3.777240e+05,3.777240e+05,377724.00000,377724.000000,299122.000000,3.777240e+05,377724.000000,50597.000000,377724.000000,377688.000000,0.0,377724.000000,377724.000000
mean,1.931288e+07,11.0,11448.650165,1.144927e+09,1.144876e+09,1.144876e+18,1.00086,422.756311,35.632926,1.144901e+11,139.411803,8.106370,136935.675332,5212.287857,NaN,126.993903,37.544674
std,4.230363e+06,0.0,196.721436,1.967098e+07,1.967143e+07,1.967143e+16,0.02932,427.297295,106.693241,1.967222e+09,258.223810,9.767654,14244.502267,2146.985552,NaN,0.084045,0.049020
min,2.896730e+06,11.0,11110.000000,1.111052e+09,1.111010e+09,1.111010e+18,1.00000,0.000000,1.000000,1.111020e+11,1.000000,1.000000,100011.000000,1000.000000,NaN,126.768169,37.434081
25%,1.677527e+07,11.0,11260.000000,1.126066e+09,1.126010e+09,1.126011e+18,1.00000,102.000000,4.000000,1.126041e+11,19.000000,1.000000,131802.000000,3451.000000,NaN,126.922408,37.504396
50%,1.837565e+07,11.0,11470.000000,1.147058e+09,1.147010e+09,1.147010e+18,1.00000,301.000000,11.000000,1.147031e+11,46.000000,5.000000,137060.000000,5301.000000,NaN,127.009781,37.541793
75%,2.297129e+07,11.0,11650.000000,1.165052e+09,1.165010e+09,1.165010e+18,1.00000,644.000000,28.000000,1.165031e+11,153.000000,11.000000,150050.000000,6958.000000,NaN,127.056270,37.572337
max,2.852486e+07,11.0,11740.000000,1.174070e+09,1.174011e+09,1.174011e+18,2.00000,9999.000000,3784.000000,1.174049e+11,3581.000000,203.000000,158885.000000,8866.000000,NaN,127.182588,37.690787

In [8]:
df.tail(50)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
377674,19082796,신선포차,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1130510100102180019030773,NaN,서울특별시 강북구 도봉로67길 45,142810,1119.0,NaN,1,NaN,127.022137,37.629764
377675,19082996,라떼센세이,NaN,F,생활서비스,F08,대행업,F08A07,이민유학알선,S96999,...,1168011000103690001004767,현대아파트,서울특별시 강남구 압구정로29길 71,135903,6002.0,31,NaN,NaN,127.028305,37.533592
377676,19083187,하수구싱크대변기배관막힘역류막혔을때뚫음고압세척업체,NaN,D,소매,D02,선물/팬시/기념품,D02A02,꽃집/꽃배달,G47851,...,1135010200109450000020056,초안산쌍용스윗닷홈아파트,서울특별시 노원구 덕릉로60길 222,139858,1872.0,104,NaN,NaN,127.044628,37.630462
377677,19070658,수건축,NaN,L,부동산,L03,분양,L03A01,주택공급,L68121,...,1135010500110980021009091,티파니,서울특별시 노원구 동일로239나길 36,139837,1606.0,NaN,NaN,NaN,127.051699,37.676688
377678,19070852,은꼬유통,NaN,D,소매,D01,음/식료품소매,D01A13,청과물소매,G47214,...,1135010300102540000014369,우성아파트,서울특별시 노원구 노원로 29,139890,1821.0,5,NaN,NaN,127.083982,37.624304
377679,19072434,우성산업환경,NaN,F,생활서비스,F02,세탁/가사서비스,F02A05,청소/소독,NaN,...,1126010500105780000000002,중랑해모로아파트,서울특별시 중랑구 양원역로6가길 19,131800,2063.0,103,NaN,NaN,127.110300,37.602277
377680,19072638,원조왕십리곱창,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1130510300101890004007784,NaN,서울특별시 강북구 한천로 1067,142878,1070.0,NaN,1,NaN,127.024089,37.641674
377681,19073422,영리치솔루션,NaN,F,생활서비스,F13,기타서비스업,F13A01,사업경영상담,M71531,...,1153010700101390117006687,하임빌,서울특별시 구로구 경인로33길 9,152805,8237.0,NaN,NaN,NaN,126.851985,37.498482
377682,19073616,힐리HILLI,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1165010600100610007019628,NaN,서울특별시 서초구 잠원로4길 41-3,137907,6519.0,NaN,1,NaN,127.010938,37.512931
377683,19073621,잭프룻,NaN,F,생활서비스,F02,세탁/가사서비스,F02A05,청소/소독,NaN,...,1168011500107360000001470,신동아아파트,서울특별시 강남구 광평로47길 17,135782,6352.0,상가,NaN,NaN,127.098168,37.487904
377684,19074010,오늘교육원협동조합,NaN,F,생활서비스,F08,대행업,F08A07,이민유학알선,S96999,...,1126010500104950000000001,한일써너스빌리젠시2단지,서울특별시 중랑구 용마산로115길 109,131809,2163.0,202,NaN,NaN,127.094175,37.597478
377685,19074020,행복공방,NaN,D,소매,D07,가정/주방/인테리어,D07A03,침구/수예품,G47411,...,1156010800101450008032817,아크로타워스퀘어,서울특별시 영등포구 국회대로54길 10,150030,7246.0,102,NaN,NaN,126.906423,37.523570
377686,19074214,낙지쉐프,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1111017400105820022003980,NaN,서울특별시 종로구 창신3길 9,110542,3106.0,NaN,1,NaN,127.011160,37.573204
377687,19074216,휠라,테스유,N,관광/여가/오락,N05,요가/단전/마사지,N05A01,요가/단식,S96129,...,1168010600109520002000001,대치동더블유타워,서울특별시 강남구 역삼로 555,135847,6183.0,NaN,NaN,NaN,127.063364,37.504988
377688,19074218,아인인더스트리,NaN,F,생활서비스,F08,대행업,F08A05,사무대리서비스,N75919,...,1144012000103940043000002,서교제일빌딩,서울특별시 마포구 양화로 64,121893,4045.0,NaN,8,NaN,126.915800,37.550246
377689,19074411,참다랑어막주는집참치정육점,금천점,Q,음식,Q03,일식/수산물,Q03A03,음식점-초밥전문,I56113,...,1154510200104410014000001,금천롯데캐슬골드파크3차,서울특별시 금천구 시흥대로 291,153011,8608.0,310,1,NaN,126.897225,37.460547
377690,19074603,만세통신,NaN,F,생활서비스,F08,대행업,F08A03,고객관리대행,N75919,...,1129013800102310060000001,이화빌라,서울특별시 성북구 장위로16길 5-8,136836,2743.0,NaN,NaN,NaN,127.041818,37.613725
377691,19074614,비에스제이윗유,NaN,F,생활서비스,F13,기타서비스업,F13A01,사업경영상담,M71531,...,1144011100101790002008048,NaN,서울특별시 마포구 독막로 215,121855,4097.0,NaN,2,NaN,126.937658,37.547499
377692,19074808,서울미트볼,NaN,Q,음식,Q06,양식,Q06A01,정통양식/경양식,I56114,...,1144012700100120039018630,NaN,서울특별시 마포구 매봉산로2안길 12,121830,3927.0,NaN,1,NaN,126.894490,37.577855
377693,19074998,월성맨션,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1144012700116070000000001,YTN뉴스퀘어,서울특별시 마포구 상암산로 76,121904,3926.0,NaN,B1,NaN,126.892296,37.579186
377694,19074999,모락미반,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1162010100100320002026330,NaN,서울특별시 관악구 관악로 211,151811,8744.0,A,1,NaN,126.954329,37.484214
377695,19075005,에이프런헤어,NaN,F,생활서비스,F01,이/미용/건강,F01A01,여성미용실,S96112,...,1135010500103230028007600,NaN,서울특별시 노원구 노해로85길 1,139816,1695.0,NaN,4,NaN,127.065046,37.655539
377696,19075399,다짐필라테스,원효로점,N,관광/여가/오락,N05,요가/단전/마사지,N05A01,요가/단식,S96129,...,1117011800101370000017583,NaN,서울특별시 용산구 효창원로 4,140851,4360.0,NaN,2,NaN,126.950583,37.533720
377697,19075593,우곱집,잠실본점,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1171010100101930003000001,NaN,서울특별시 송파구 백제고분로7길 16-20,138862,5561.0,NaN,1,NaN,127.080714,37.509647
377698,19075790,아이엔요가앤필라테스,당산점,N,관광/여가/오락,N01,PC/오락/당구/볼링등,N01A05,탁구장,R91139,...,1156011600103390004028661,디엔빌딩,서울특별시 영등포구 양평로 68,150810,7222.0,NaN,지,NaN,126.899485,37.535364
377699,19075997,수담컴퍼니,NaN,F,생활서비스,F07,물품기기대여,F07A17,연극공연/영화제작용품임대,L69390,...,1123010600103090003016382,NaN,서울특별시 동대문구 장한로 146,130839,2523.0,NaN,NaN,NaN,127.072120,37.573375
377700,19076384,고사리바이배드캐럿,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1144012300104570004014852,NaN,서울특별시 마포구 희우정로 95,121889,4016.0,NaN,1,NaN,126.902192,37.553698
377701,19076387,덩키카페,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1168010500101410001017025,성원타워,서울특별시 강남구 선릉로 514,135716,6162.0,NaN,1,NaN,127.049151,37.505595
377702,19076793,만나구로,NaN,F,생활서비스,F08,대행업,F08A01,심부름센터,S96999,...,1154510200110700028011532,NaN,서울특별시 금천구 시흥대로84가길 6-5,153867,8620.0,NaN,NaN,NaN,126.901534,37.461181
377703,19077383,감화커피,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010300103330027012617,황보아트빌,서울특별시 강서구 강서로18가길 44,157879,7751.0,NaN,1,NaN,126.846106,37.535791
377704,19077385,두레산업인력,NaN,F,생활서비스,F05,인력/고용/용역알선,F05A02,인력공급/고용알선,NaN,...,1174010800100870010005266,NaN,서울특별시 강동구 올림픽로 604,134840,5385.0,NaN,3,NaN,127.122602,37.535439
377705,19077389,에스지에프앤에스,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1171011100100630014015669,NaN,서울특별시 송파구 올림픽로32길 22,138828,5548.0,NaN,NaN,NaN,127.109302,37.514029
377706,19077578,텐퍼센트커피,시흥사거리점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1154510300109990048004475,NaN,서울특별시 금천구 금하로 619,153864,8614.0,NaN,1,NaN,126.899911,37.454688
377707,19077585,에이원짐,NaN,P,스포츠,P02,실내운동시설,P02A13,헬스클럽,R91132,...,1168010600109660005012447,신사에스앤지,서울특별시 강남구 역삼로 542,135848,6187.0,NaN,1,NaN,127.062325,37.503970
377708,19077780,CU,용산신동아점,D,소매,D03,종합소매점,D03A01,편의점,G47122,...,1117013500100690167003695,신동아쇼핑,서울특별시 용산구 이촌로 352,140240,4428.0,NaN,1,NaN,126.985156,37.517371
377709,19077787,엑시터즈,NaN,F,생활서비스,F13,기타서비스업,F13A01,사업경영상담,M71531,...,1165010800116780004000001,서초지웰타워,서울특별시 서초구 서초대로 356,137881,6631.0,NaN,NaN,NaN,127.020228,37.495402
377710,19077789,청담우애,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1168010400100490024000001,JADE49,서울특별시 강남구 도산대로90길 16,135952,6070.0,NaN,4,NaN,127.048901,37.523542
377711,19077984,제이피솔루션앤파트너스,NaN,F,생활서비스,F13,기타서비스업,F13A01,사업경영상담,M71531,...,1168010100107380015000001,NaN,서울특별시 강남구 논현로85길 5-11,135924,6237.0,NaN,5,NaN,127.037220,37.498461
377712,19078388,막리단길,성신여대점,Q,음식,Q09,유흥주점,Q09A03,꼬치구이전문점,I56219,...,1129011600100030006000001,NaN,서울특별시 성북구 동소문로20다길 11,136051,2845.0,NaN,1,NaN,127.017312,37.591835
377713,19078780,미타하라코리아,NaN,F,생활서비스,F08,대행업,F08A07,이민유학알선,S96999,...,1168010100107040045000002,NaN,서울특별시 강남구 선릉로93길 40,135513,6148.0,NaN,5,NaN,127.045476,37.504637
377714,19078782,한샘,서비스,F,생활서비스,F14,자동차/이륜차,F14A02,자전거판매/수리,NaN,...,1126010500104500001003801,NaN,서울특별시 중랑구 용마공원로5길 24,131801,2180.0,NaN,NaN,NaN,127.102443,37.594586
377715,19078785,바른가족경매,NaN,L,부동산,L03,분양,L03A04,건물분양-종합,NaN,...,1154510100103710028015795,우림라이온스밸리,서울특별시 금천구 가산디지털1로 168,153786,8507.0,에이,10,NaN,126.882626,37.479953
377716,19079187,보름설기,NaN,Q,음식,Q08,제과제빵떡케익,Q08A03,떡전문,I56191,...,1153010100102900000025715,미성아파트,서울특별시 구로구 신도림로11가길 36,152771,8205.0,상가,2,NaN,126.876330,37.506249
377717,19079185,그린섬미술학원,3관미술학원,R,학문/교육,R05,학원-음악미술무용,R05A01,서예/서화/미술,P85620,...,1168010600109080017013471,NaN,서울특별시 강남구 선릉로72길 13,135841,6199.0,NaN,3,NaN,127.052191,37.500384
377718,19079377,태성종합상사,NaN,D,소매,D01,음/식료품소매,D01A01,식료품점,G47219,...,1165010100108140008008836,방배오피스텔,서울특별시 서초구 동광로 56-1,137832,6562.0,NaN,NaN,NaN,126.988959,37.492030
377719,19079387,향나무참숯장어나라,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1138010600100260008026739,NaN,서울특별시 은평구 진흥로 153-4,122837,3396.0,NaN,1,NaN,126.926643,37.609327
377720,19079580,에이치에스컨설팅,NaN,L,부동산,L01,부동산중개,L01A01,부동산중개,L68221,...,1132010600106960040003438,NaN,서울특별시 도봉구 방학로6길 38,132852,1342.0,NaN,3,NaN,127.036563,37.664572
377721,19079781,크린에이드,가양역점,F,생활서비스,F02,세탁/가사서비스,F02A01,세탁소/빨래방,S96912,...,1150010400100140003009639,가양우성아파트,서울특별시 강서구 양천로 489,157750,7526.0,상가,1,NaN,126.854188,37.562234
377722,19080385,멍,NaN,D,소매,D09,애견/애완/동물,D09A02,애완동물 미용실,S96995,...,1132010700105810012017146,NaN,서울특별시 도봉구 덕릉로59길 15,132918,1470.0,NaN,NaN,NaN,127.038608,37.640459
377723,19080785,써니뷰티샵,NaN,F,생활서비스,F01,이/미용/건강,F01A03,비만/피부관리,NaN,...,1121510100102200028023635,NaN,서울특별시 광진구 능동로49길 18,143900,4908.0,NaN,1,NaN,127.082303,37.564633

In [9]:
df

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,23324279,제중건강원,NaN,D,소매,D10,건강/미용식품,D10A07,건강원,G47216,...,1156010600100410002034626,NaN,서울특별시 영등포구 영중로14길 11-17,150035,7250.0,NaN,1,NaN,126.907168,37.520613
1,24525909,민속악기사,NaN,D,소매,D04,취미/오락관련소매,D04A09,악기판매,G47593,...,1120012200101420011000227,NaN,서울특별시 성동구 용답5길 2,133849,4803.0,NaN,NaN,NaN,127.049018,37.566857
2,24715368,태평양진주,NaN,D,소매,D26,시계/귀금속소매,D26A01,시계/귀금속,G47830,...,1111015200100440000000001,금사랑투빌딩,서울특별시 종로구 서순라길 17-10,110390,3138.0,NaN,NaN,NaN,126.993530,37.571848
3,15554136,김선희꼼꼼국어교습소,NaN,R,학문/교육,R01,학원-보습교습입시,R01A01,학원-입시,P85501,...,1171011100101970003017195,NaN,서울특별시 송파구 위례성대로12길 31,138834,5640.0,NaN,2,NaN,127.121520,37.510967
4,17174175,비지트,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1165010100108540018009586,상랑의빌딩,서울특별시 서초구 동광로18길 82,137837,6572.0,NaN,1,NaN,126.991394,37.488375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377719,19079387,향나무참숯장어나라,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1138010600100260008026739,NaN,서울특별시 은평구 진흥로 153-4,122837,3396.0,NaN,1,NaN,126.926643,37.609327
377720,19079580,에이치에스컨설팅,NaN,L,부동산,L01,부동산중개,L01A01,부동산중개,L68221,...,1132010600106960040003438,NaN,서울특별시 도봉구 방학로6길 38,132852,1342.0,NaN,3,NaN,127.036563,37.664572
377721,19079781,크린에이드,가양역점,F,생활서비스,F02,세탁/가사서비스,F02A01,세탁소/빨래방,S96912,...,1150010400100140003009639,가양우성아파트,서울특별시 강서구 양천로 489,157750,7526.0,상가,1,NaN,126.854188,37.562234
377722,19080385,멍,NaN,D,소매,D09,애견/애완/동물,D09A02,애완동물 미용실,S96995,...,1132010700105810012017146,NaN,서울특별시 도봉구 덕릉로59길 15,132918,1470.0,NaN,NaN,NaN,127.038608,37.640459
377723,19080785,써니뷰티샵,NaN,F,생활서비스,F01,이/미용/건강,F01A03,비만/피부관리,NaN,...,1121510100102200028023635,NaN,서울특별시 광진구 능동로49길 18,143900,4908.0,NaN,1,NaN,127.082303,37.564633

In [13]:
DF = pd.read_csv("LOCAL_PEOPLE_GU_2022.csv", encoding = 'cp949')

In [14]:
DF

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20220101,0,11110,198013.1166,4873.9724,2875.5716,4721.0371,8056.7447,8409.5262,7030.9611,...,8358.8772,6598.3393,7714.6240,6930.9907,8622.9096,7542.4183,8012.8912,6618.1705,5234.3484,14670.1388
1,20220101,0,11140,163439.6365,4588.8045,1754.1373,2565.4546,5964.4053,7538.1455,7272.5991,...,8907.1659,7146.4494,7837.6613,6241.1243,6190.8188,5122.5866,5497.6735,4887.9068,3580.1862,9786.9251
2,20220101,0,11170,252165.9659,7338.0378,3621.6062,5679.3041,8010.4273,10246.1419,11344.5582,...,11230.4114,11730.1838,13262.1450,10157.6281,10607.3606,9141.2146,8998.7112,8093.6815,5922.3439,15970.6930
3,20220101,0,11200,312343.4234,11468.7636,4805.9768,6325.7793,10097.0347,12308.5453,12072.8752,...,12258.5309,12985.5190,15908.0426,12635.4614,12772.6410,11329.8455,12209.6659,10498.3080,7920.3737,20142.3144
4,20220101,0,11215,348524.3239,10212.5621,5475.5993,8713.1763,12957.8151,16604.5445,14338.6849,...,17011.8494,14646.3396,15249.4805,13215.0753,14246.1921,12944.7686,14256.4084,11730.0618,8646.9569,19500.4808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,20221231,23,11620,468533.2179,11551.3074,5620.8956,9207.5815,18665.9541,30952.8003,25695.9631,...,27889.7343,20669.3039,19181.4143,15548.3493,16195.5139,14859.1897,15884.1065,13996.0120,11699.3191,29012.6524
218996,20221231,23,11650,464794.4332,20247.1960,10900.8345,16271.3110,14626.4441,15461.1142,15497.7090,...,15823.3834,15603.4387,20564.2567,20733.5833,23047.8588,16474.4033,15469.5319,12576.3360,10478.7079,26054.0498
218997,20221231,23,11680,626217.7021,24272.7828,15790.4802,23289.9467,18699.7994,22204.9649,22483.0248,...,24268.5446,22765.5867,28073.9601,28227.5084,31894.4841,21793.2518,19696.3223,15849.6223,13672.9699,34056.4408
218998,20221231,23,11710,726058.1872,31134.3399,15478.9444,20867.6177,20607.2146,25532.9245,26891.8841,...,26526.0862,28859.3884,35077.4438,31098.1011,31050.9682,26653.2291,28017.9861,23899.3768,19144.9527,41267.7877
218999,20221231,23,11740,515174.1517,20892.5856,11790.0818,14362.5114,12532.8998,15352.7324,16376.3996,...,16154.2042,17700.1372,22711.2182,21883.4831,22497.0922,19285.0444,21125.2344,19283.2111,15338.5608,35974.7965